<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Selecione um perfil</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="fecharModalFiltroPerfil()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input" ng-class="{ 'item-select': !perfilCarregando }" ng-hide="perfilErro">
        <div class="input-label">
          Selecione o perfil
        </div>
        <div class="col col-33 col-offset-33" ng-show="perfilCarregando">
          <ion-spinner></ion-spinner>
        </div>
        <div ng-hide="perfilCarregando">
          <select ng-model="perfil"
            ng-options="perfil.nome for perfil in perfis track by perfil.id">
            <option value="" ng-show="false"></option>
          </select>
        </div>
      </label>

      <label class="item" ng-show="perfilErro">
        {{ perfilErro }}
      </label>

      <label class="item">
        <button class="button button-block button-positive" ng-click="filtrarPorPerfil(perfil)">Filtrar</button>
      </label>
    </div>
    </form>
  </ion-content>
</ion-modal-view>
