<ion-view view-title="Avaliação">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <i class="rating icon ion-android-star-outline"></i>
        <i class="rating icon ion-android-star-outline"></i>
        <i class="rating icon ion-android-star-outline"></i>
        <i class="rating icon ion-android-star-outline"></i>
        <i class="rating icon ion-android-star-outline"></i>
      </label>
      <label class="item item-input item-floating-label">
        <textarea placeholder="Comentários" rows=10 ng-model="avaliacao.comentarios"></textarea>
      </label>
      <div class="padding">
        <button class="button button-block button-positive"
            ng-Click="vm.enviar(avaliacao)">Avaliar</button>
      </div>
    </div>
  </ion-content>
</ion-view>
