<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Selecione um curso</h1>
    <div class="buttons">
      <button ng-click="fecharModalFiltroCurso()" class="button button-clear">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">

      <label ng-hide="cursosErro" ng-class="{ 'item-select': cursos }" class="item item-input">
        <div class="input-label">
          Selecione o curso
        </div>

        <div ng-hide="cursos" class="col col-33 col-offset-33">
          <ion-spinner></ion-spinner>
        </div>

        <div ng-show="cursos">
          <select ng-model="curso" ng-options="curso.curso for curso in cursos track by curso.cursoid">
            <option value="" ng-show="false"></option>
          </select>
        </div>
      </label>

      <label ng-show="cursosErro" class="item">
        {{ cursosErro }}
      </label>

      <label class="item">
        <button ng-click="filtrarPorCurso(curso)" class="button button-block button-positive">Filtrar</button>
      </label>
      
    </div>
  </ion-content>
</ion-modal-view>
