<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Selecione um perfil</h1>
    <div class="buttons">
      <button ng-click="fecharModalFiltroPerfil()" class="button button-clear">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">

      <label ng-hide="perfisErro" ng-class="{ 'item-select': perfis }" class="item item-input">
        <div class="input-label">
          Selecione o perfil
        </div>

        <div ng-hide="perfis" class="col col-33 col-offset-33">
          <ion-spinner></ion-spinner>
        </div>

        <div ng-show="perfis">
          <select ng-model="perfil" ng-options="perfil.nome for perfil in perfis track by perfil.id">
            <option value="" ng-show="false"></option>
          </select>
        </div>
      </label>

      <label ng-show="perfisErro" class="item">
        {{ perfisErro }}
      </label>

      <label class="item">
        <button ng-click="filtrarPorPerfil(perfil)" class="button button-block button-positive">Filtrar</button>
      </label>

    </div>
  </ion-content>
</ion-modal-view>
