<ion-view view-title="Fale conosco">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Seu nome" ng-model="contato.nome">
      </label>
      <label class="item item-input item-floating-label">
        <input type="email" placeholder="Seu email" ng-model="contato.email">
      </label>
      <label class="item item-input item-floating-label">
        <textarea placeholder="Mensagem" rows=10 ng-model="contato.mensagem"></textarea>
      </label>
      <div class="padding">
        <button class="button button-block button-positive"
            ng-Click="vm.enviar(contato)">Enviar</button>
      </div>
    </div>
  </ion-content>
</ion-view>
