<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Selecione uma opção de filtro</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="fecharModalFiltroDados()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <ion-radio ng-click="abrirModalFiltroEstado()">Estado</ion-radio>
        <ion-radio ng-click="abrirModalFiltroPerfil()">Perfil</ion-radio>
        <ion-radio>Curso</ion-radio>
      </div>
  </ion-content>
</ion-modal-view>
