<div ng-if="vm.status.visivel()" class="card">
  <div class="item item-divider">
    {{ vm.titulo }}
    <span ng-show="vm.subtitulo">
      <br>
      <strong>{{ vm.subtitulo }}</strong>
    </span>
  </div>
  <div ng-if="!vm.status.sucesso && !vm.status.erro" ng-hide="vm.status.sucesso || vm.status.erro">
    <div class="item item-text-wrap">
      <ion-spinner></ion-spinner>
    </div>
  </div>
  <div ng-if="vm.status.sucesso" ng-show="vm.status.sucesso" ng-transclude>
  </div>
  <div ng-show="vm.status.erro">
    <div class="item item-text-wrap">
      Não foi possível obter os dados.
    </div>
  </div>
</div>
